.card-info {
	text-align: left;
	color: white;
}

.card-number {
	font-weight: 700px;
	font-size: 70px;
	display: inline-block;
}

.center {
	text-align: center;
}

ul {
	list-style-type: none;
    padding-inline-start: 0;
}

h5 {
	font-weight: 220 !important;
}

h4 {
	font-weight: 300 !important;
}

tbody {
	font-weight: 100;
}

.content-margin {
	margin-top: 10%;
}

.symbol {
	float: right;
	margin: 10% 4% 0 0;
    font-size: 42px;
}

.buttons {
	float: right;
	padding-right: 3%;
}

.logout {
	position: absolute;
	bottom: 1%;
	right: 10%;
	text-align: right;
}

.logout p {
	color: white;
	margin: 1px;
}